.content {
    background: rgba(155, 151, 151, 0.9);
    opacity: 60%;
    margin: 0;
    color: #292323;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}


.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(https://i.ibb.co/VJZ7wZf/pic2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.showcase:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width:  500px;
    height: 500px;
    text-align: center;
    transition: all 1000ms;
}

.content .logo {
    height: 180px;
    width: 180px;
}

.content .title {
    font-size: 2.19rem;
    margin-top: 1rem;
}

.content .text {
    line-height: 1.7;
    margin-top: 1rem;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

footer {
    padding: 2.2rem;
}

footer p {
    margin: 0;
}

/* Small Screens */
@media (max-width: 560px) {
    .showcase::after {
        height: 50vh;
    }

    .content {
        top: 5%;
        margin-top: 5px;
    }

    .content .logo {
        height: 140px;
        width: 140px;
    }

    .content .text {
        display: none;
    }

    .grid-3,
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .services div {
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }
}

/* Landscape */
@media (max-height: 500px) {

    .content .title,
    .content .text {
        display: none;
    }

    .content {
        top: 0;
    }
}

.metext {
    text-align: justify;
    text-justify: newspaper;
    
}
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-image: url(https://i.ibb.co/2K4kFH8/4-K-Plain-Blurred-Background-High-Definition-Wallpaper-40965.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    }

.left-side {
    display: flex;
    }

.nav-wrapper > .left-side > div {
    margin-right: 18px;
    text-transform: uppercase;
    font-size: 0.9rem;
    }

.nav-link-wrapper {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    }

.active-nav-link {
    border-bottom: 1px solid black;
    }

.active-nav-link a {
    color: black !important;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}

.image-blur {
    transition: 1s;
    filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
}

.logo-wrapper img {
    width: 100%;
    margin-bottom: 20px;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.profile-image-wrapper img {
    width: 100%;
}
.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: rgb(14, 39, 38);
}
